.bg {
    background: rgb(255, 255, 255);
    
}

.bg .box1 {
    width: 1218px;
    height: 609px;    
    background: #171821;    
}
.box1 .p1 {
    width: 754px;
    height: 91px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: -0.05em;    
    color: #FFFFFF;
    padding-top: 412px;
}
.box1 .p2 {
    width: 219px;
    height: 15px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;    
    color: #FFFFFF;
    padding-top: 50px;
}
